html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 300;
  }

body {
    /* align-items: center; */
    background-color: #1f1f1f;
    background-color: black;
    color: #ddd;
    display: flex;
    /* height: 100%; */
    /* min-height: 100vh; */
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    min-height: 100%;
    overflow-y: auto;
  }

  a {
    text-decoration: none;
  }

  
  

  main {
    animation-duration: 1s;
  animation-name: fade-in;
  font-family: monospace;
  /* font-family: 'EB Garamond', serif; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;       
  text-align: center;
  font-size: 14px;
  /* font-size: 18px; */
  }

  .link-section {
    background-color: #353535;
    background-color: black;
    padding: 10px;
    overflow-y: auto;
    /* box-shadow: 0px 0px 15px 2px #111; */
    border-style: solid;
    border-color: #353535;
    border-width: 1px;
    margin: 0 auto;
    max-width: 700px; /* Optional: limit how wide it can grow */
    min-width: 250px;  /* Optional: avoid getting too narrow */
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .link-section-title {
    font-size: 14px;
    /* font-size: 18px; */
    margin: 0;
    font-weight: normal;
    text-align: center;
    /* text-transform: lowercase; */
  }
  
  .link-list {
    padding: 0;
  }
  
  
  .icon {
    padding-right: 10px;
    width: 20px;
    /* width: 28px; */
    /* padding-left: 0px; */
  }
  
  .link-list-item {
    align-items: center;
    display: flex;
    height: 1em;
    justify-content: center;
    line-height: 1em;
    list-style-type: none;
    margin: 1vh 0 1vh 0;
    text-align: left;
    /* width: 100%; */
    padding: 3px;
    transition: 0.3s;
  }
  
  .link-list-item:hover {
    /* background-color: rgb(75, 75, 75); */
    padding-left: 7px;
    text-decoration: underline;
  }

  .link {
    color: #ddd;
    display: block;
    width: 100%;
    height: 100%;
    /* font-size: 1rem; */
    /* text-transform: lowercase; */
  }

  #links-container {
    justify-content: center;
  }

  p{
    padding-left: 10px;
    padding-right: 10px;
    /* font-size: 16px; */
    text-align: left;
    line-height:25px;
  }
  hr {
    border-width: 0.1px; 
    border-color: #000000;
  }

  p a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }
  
  
  p a:hover {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #999;
  }


  .blog-section {
    background-color: #353535;
    background-color: black;
    padding: 10px;
    overflow-y: auto;
    /* box-shadow: 0px 0px 15px 2px #111; */
    border-style: solid;
    border-color: #353535;
    border-width: 1px;
    margin: 0 auto;
    max-width: 700px; /* Optional: limit how wide it can grow */
    /* min-width: 250px; */
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
  }

.blog-section h2 {
  padding-left:10px;
  padding-right: 10px;
}

.blog-section a{
  color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.blog-section a:hover {
  color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #999;
}

.blog-section h3 {
  padding-left:10px;
  padding-right: 10px;
}

.navbar {
  background-color: black;
  padding: 5px;
  overflow-y: auto;
  /* box-shadow: 0px 0px 15px 2px #111; */
  border-style: solid;
  border-color: #353535;
  border-width: 1px;
  margin: 0 auto;
  max-width: 700px; /* Optional: limit how wide it can grow */
  min-width: 250px;  /* Optional: avoid getting too narrow */
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.navbar p {
    padding-left: 10px;
    padding-right: 10px;
    /* font-size: 16px; */
    text-align: center;
    line-height: 1.5;
    margin: 0;
    word-wrap: break-word;
    font-size: 14px;
}

.navbar .link{
    color: #ddd;
    display: inline-block;
    width: auto;
    height: auto;
    text-decoration: underline;
    margin: 4px 6px;
}

.post-section {
  background-color: #353535;
  background-color: black;
  padding: 10px;
  overflow-y: auto;
  /* box-shadow: 0px 0px 15px 2px #111; */
  border-style: solid;
  border-color: #353535;
  border-width: 1px;
  margin: 0 auto;
  max-width: 1250px;; /* Optional: limit how wide it can grow */
  /* min-width: 250px;   */
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  margin-bottom: 200px;
}

.post-section h2 {
  padding-left:10px;
  padding-right: 10px;
}

.post-section a{
  color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.post-section a:hover {
  color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #999;
}

.post-section h3 {
  padding-left:10px;
  padding-right: 10px;
}

.post-section p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.5;
}

.post-section img{
  width: 50%;
}

.blog-section img{
  width: 35%;
}

img, iframe {
  max-width: 100%;
}

@media (max-width: 600px) {
  .post-section p {
      font-size: 16px;
      line-height: 1.4;
  }

  .post-section h2,
  .post-section h3 {
      font-size: 18px;
  }
}