/* DESKTOP */

/* Profile card */
.profile-card *,
.profile-card *:before,
.profile-card *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.profile-card {
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 200px;
  margin: 20px auto;
  width: 320px;
  overflow: hidden;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.profile-card header {
  background: #333;
  padding: 1px;
  height: 8px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.profile-card header img {
  display: block;
  margin: 10px auto;
  width: 120px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.profile-card header h1 {
  color: #333;
  font-family: "Quicksand";
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  line-height: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.profile-card header h2 {
  color: #333;
  font-family: "Quicksand";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 0 0 5px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.profile-card .profile-bio {
  padding: 20px;
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.1s 0.1s;
  -moz-transition: all 0.1s 0.1s;
  -o-transition: all 0.1s 0.1s;
  transition: all 0.1s 0.1s;
}

.profile-card .profile-bio p {
  font-size: 15px;
  text-align: center;
  font-family: "Quicksand";
}

.profile-card .profile-social-links {
  display: block;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 160px;
}

.profile-card .profile-social-links li {
  display: block;
  float: left;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
  -moz-transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
  -ms-transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
  transition: all 0.3s cubic-bezier(0, 1.135, 0.73, 1.405) 0.25s;
}

.profile-card .profile-social-links li:nth-child(2) {
  -webkit-transition-delay: 0.35s;
  -moz-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.profile-card .profile-social-links li:nth-child(3) {
  -webkit-transition-delay: 0.45s;
  -moz-transition-delay: 0.45s;
  -o-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

.profile-card .profile-social-links li a {
  display: block;
  float: left;
  height: 40px;
  margin: 0 5px;
  outline: 0 none;
  width: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.profile-card .profile-social-links li a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.profile-card .profile-social-links li a img {
  padding: 15px;
  width: 60px;
}

/*  CHANGES  ON HOVER  */

.profile-card:hover {
  height: 450px;
}
.profile-card:hover header {
  height: 200px;
}

.profile-card:hover header h1,
.profile-card:hover header h2 {
  color: #fff;
}

.profile-card:hover header img {
  border-radius: 50%;
}

.profile-card:hover .profile-bio {
  opacity: 1;
}

.profile-card:hover .profile-social-links li {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* Project cards */

section {
  display: grid;
  justify-content: center;
  align-content: center;

  gap: 4px;
  grid-auto-flow: column;
  margin-bottom: 50px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.row {
  margin: auto 0;
}
.card {
  float: left;
  padding: 1rem;
  min-width: 500px;
}

@media screen and (max-width: 680px) {
  section {
    display: grid;
    justify-content: center;
    align-content: center;

    gap: 4px;
    grid-auto-flow: row;
  }
  .card {
    min-width: 100vw;
  }
}

.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before,
.card .menu-content::after {
  content: "";
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .wrapper {
  background-color: #fff;
  min-height: 450px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(80px + 1em));
  transition: transform 0.3s;
}
.card .data .content {
  padding: 1.5em;
  position: relative;
  z-index: 1;
}
.card .type {
  font-size: 15px;
}
.card .title {
  font-size: 25px;
  font-family: "Quicksand";
  margin-top: 10px;
}
.card .text {
  height: 70px;
  margin: 0;
  font-size: 14px;
}
.card input[type="checkbox"] {
  display: none;
}
.card input[type="checkbox"]:checked + .menu-content {
  transform: translateY(-60px);
}
.project .wrapper {
  background: url(images/new-tab-page-screenshot.gif) 50% 1% / cover no-repeat;
  background-size: 200%;
}

.project .date {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 0.75rem;
}
.project .date span {
  display: block;
  text-align: center;
}
.project .date .month,
.project .date .year {
  /* text-transform: uppercase; */
  font-size: 15px;
}
.project .content {
  /* background-color: #333; */
  background-color: #333;
  color: white;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.project .title a {
  color: white;
}
.project .menu-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
}
.project .menu-content li {
  text-align: center;
  width: 3rem;
  background-color: #333;
  height: 3rem;
  position: relative;
}
.project .menu-content a {
  font-size: 24px;
}
.alternate-card {
  float: left;
  padding: 1rem;
  min-width: 500px;
}
.alternate-card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.alternate-card .menu-content::before,
.alternate-card .menu-content::after {
  content: "";
  display: table;
}
.alternate-card .menu-content::after {
  clear: both;
}
.alternate-card .menu-content li {
  display: inline-block;
}
.alternate-card .menu-content a {
  color: #fff;
}
.alternate-card .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.alternate-card .wrapper:hover .data {
  transform: translateY(0);
}
.alternate-card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(100% + 1em));
  transition: transform 0.3s;
}
.alternate-card .data .content {
  padding: 1.5em;
  position: relative;
  z-index: 1;
}
.alternate-card .type {
  font-size: 12px;
}
.alternate-card .title {
  margin-top: 10px;
}
.alternate-card .text {
  height: 325px;
  margin: 0;
}
.alternate-card input[type="checkbox"] {
  display: none;
}
.alternate-card input[type="checkbox"]:checked + .menu-content {
  transform: translateY(-60px);
}
/* terminal text effect for header  */

.hidden {
  opacity: 0;
}
.console-container {
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  display: block;
  color: #303030;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 25px;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.1em;
}

/* grid for tools and languages */
#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 5px;
  justify-content: space-around;
}
#grid > div {
  padding: 0.5em;
  text-align: center;
}
body {
  font-family: "Quicksand";
}

/* SPEECH BUBBLE */
.speech {
  /* (A1) FONT */
  font-size: 1.1em;
  color: #303030;
  /* color: #fff; */
  /* (A2) DIMENSIONS + BACKGROUND */
  position: relative;
  background: white;
  /* background: #303030; */
  box-shadow: 5px 10px 8px #888888;
  padding: 20px;
  border-radius: 10px;
  max-width: 430px;
  text-align: justify;
}
.speech::after {
  position: absolute;
  content: "";
  border: 20px solid transparent;
}
.top.speech::after {
  /* UP TRIANGLE */
  border-bottom-color: white;
  border-top: 0;
  /* POSITION TAIL AT BOTTOM OF BOX */
  top: -20px;
  left: 50%;
  margin-left: -20px;
}

.icon {
  border-radius: 50%;
  display: inline-block;
  box-shadow: 5px 10px 8px #888888;
  vertical-align: middle;
  margin-bottom: 25px;
  width: 7%;
}
.paragraph {
  margin-top: 50px;
  background-color: white;
  border-radius: 25px;
  margin-left: 50px;
  box-shadow: 5px 10px 8px #888888;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
figcaption {
  text-align: center;
  padding-top: 5px;
}

p {
  font-size: 1.1em;
  display: inline-block;
}

footer {
  text-align: center;
}

h1 {
  color: #303030;
  font-size: 3em;
  width: 100%;
  font-family: "Quicksand";
  text-align: center;
}

h2 {
  color: #303030;
  font-size: 2em;
  width: 100%;
  text-align: center;
}
h3 {
  color: #303030;
  font-size: 2em;
  width: 100%;
  text-align: center;
}

main-banner {
  background-image: url("https: ; //external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd321cxw853vaeo.cloudfront.net%2Farticle%2Fimages%2F800x800%2Fdimg%2Fai_head_thingo_2.jpg&f=1&nofb=1");
}

a.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #2d2d2d;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}
a.button1:hover {
  color: #000000;
  background-color: #e0e0e0;
}
@media all and (max-width: 30em) {
   a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}

.langIcon {
  width: 70px;
}

/* #container {
  width: 960px;
} */
* {
  box-sizing: border-box;
}

.container {
  border-radius: 25px;
  width: 75px;
  background-color: #ddd;
  margin-top: 10px;
}

.skills {
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
}

.python {
  border-radius: 25px;
  width: 90%;
  background-color: #0d67aa;
}
.java {
  border-radius: 25px;
  width: 90%;
  background-color: #dd5036;
}

.html {
  border-radius: 25px;
  width: 90%;
  background-color: #e34f26;
}
.css {
  border-radius: 25px;
  width: 80%;
  background-color: #2196f3;
}
.js {
  border-radius: 25px;
  width: 65%;
  background-color: #f7e018;
}
.sql {
  border-radius: 25px;
  width: 65%;
  background-color: #4474ca;
}
.react {
  border-radius: 25px;
  width: 25%;
  background-color: #00d8ff;
}
.git {
  border-radius: 25px;
  width: 65%;
  background-color: #de4c36;
}
.php {
  border-radius: 25px;
  width: 25%;
  background-color: #787cb4;
}
.tensorflow {
  border-radius: 25px;
  width: 40%;
  background-color: #f8bf3c;
}
.pytorch {
  border-radius: 25px;
  width: 50%;
  background-color: #ee4c2c;
}

.tools {
  /* background-color: white; */
  border-radius: 25px;
  margin-left: 100px;
  /* box-shadow: 5px 10px 8px #999999; */
  margin-right: 5%;
  position: relative;
  resize: both;
}

.customNewTabPage {
  box-shadow: 5px 10px 8px #888888;
  border: 1px solid black;
}
/* MOBILE */
@media screen and (max-width: 420px) {
  .paragraph {
    width: 580px;
    height: 410px;
    font-size: 30px;
    text-align: left;
  }
  .icon {
    width: 100px;
  }
  figcaption {
    font-size: 20px;
    text-align: center;
  }
  a.button1 {
    font-size: 15px;
  }
  body {
    font-size: 15px;
  }
  hr {
    width: 300px;
  }

  h2 {
    font-size: 20px;
  }

  li {
    font-size: 18px;
    /* padding: 5px; */
  }
  .langIcon {
    width: 70px;
  }
  /* SPEECH BUBBLE */
  .speech {
    /* font-family: "Consolas"; */
    max-width: 320px;
  }
  p {
    font-size: 1em;
    display: inline-block;
    /* font-family: "Trebuchet MS"; */
  }
}
